<h1 ng-bind="vm.theatre.name"></h1>

<div class="card item item--theatre"
  ng-repeat="movie in vm.movies">

  <div class="group bucket">
    <div class="bucket-media">
      <span class="media-placeholder"></span>
    </div>

    <div class="bucket-content">
      <h3 class="item-title" ng-bind="movie.title"></h3>
      <div class="labels">
          <span class="label"
            ng-repeat="showtime in movie.showtimes"
            ng-bind="showtime.time"></span>
      </div>
    </div>

  </div>
</div>
