.content {
  min-height: 400px;
}

.movie-list {
  margin-bottom: 15px;
  text-align: center;

  .movie-cover {
    background: #eee;
    border: 1px solid #ddd;
    display: block;
    height: 240px;
    max-width: 200px;
    margin: 5px auto;
  }

  .movie-title {
    color: #444;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.theatre-list {

  .media {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 5px 0;

    &:first-child {
      border-top: 1px solid #ddd;
    }
  }

  .btn.pull-right {
    margin-top: -15px;
  }

  .media-placeholder {
    background-color: #eee;
    border: 1px solid #ddd;
    display: block;
    height: 64px;
    width: 64px;
  }

  .see-showtimes {
    float: right;
    position: relative;
    top: -15px;
  }
}

.showtimes {
  margin: 15px 0;

  .label {
    font-size: $font-size-large;
    margin: 0 15px 0 0;
  }
}
