<h1 ng-bind="vm.movie.title"></h1>
<h2>List of Theatres Playing Movie</h2>

<div class="card item item--theatre"
  ng-repeat="theatre in vm.theatres">

  <div class="group bucket">
    <div class="bucket-media item-cover">
      <div class="item-cover"></div>
    </div>

    <div class="bucket-content">
      <h3 class="item-title" ng-bind="theatre.name"></h3>

      <p>&nbsp;</p>

      <div class="labels">
        <span class="label"
          ng-repeat="time in theatre.showtimes"
          ng-bind="time.time"></span>
      </div>

    </div>
  </div>
</div>
